{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Bienvenue sur le site</h1>
    <h1>Entrer le prénom et le montant depancer pour chaque personne !</h1>
        {{ form(form)}}
{% endblock %}
