<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <button class="btn btn-outline-success" type="button"><a href="home">Ajouter un participants<a/></button>
    <button class="btn btn-outline-success" type="button"><a href="participants">Liste des participants<a/></button>
  </form>
</nav>